@media (max-width: 480px) 
{
  .btn {
    position: absolute;
    top: 15px;
    left: 40px;
    height: 45px;
    width: 45px;
    text-align: center;
    background-color: purple;
    border-radius: 3px;
    cursor: pointer;
    transition: left 0.4s ease;
    display: block;
  }
  .sidebar ul li
  {
      padding: 8px 20px;
      margin-top: 30px;
      color: white;
      border-radius: 20px;
      transition: all 0.5s;
    }
  .btn.click {
    left: 250px;
    display: block;
  }
  .btn span {
    color: white;
    font-size: 28px;
    line-height: 45px;
    display: block;
  }
  .btn.click span:before {
    content: "<<";
  }
  .nav {
    width: 80%;
    position: fixed;
    background-color: purple;
    display: none;
  }
  .sidebar {
    width: 50%;
    height: 100vh;
    position: fixed;
    background-color: purple;
    z-index: 2;
  }
  .sidebar .text {
    color: black;
    font-size: 25px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
  }
  .ri-arrow-left-double-line {
    display: block;
  }
  .header {
    width: 90%;
    margin: 80px auto;
    margin-left:22px;
    color: purple;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 12px;
    margin-bottom: 0%;
   
  }
  .serch input {
    width: 160px;
    height: 40px;
    padding: 10px 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    color: purple;
    font-size: 18px;
    position: relative;
    margin-left: 10px;
   
  }
  .ri-search-2-line
{
    position: absolute;
    left: 10%;
    top: 25%;
    font-weight: 900;
    color: purple;
}
  .tittle h3 {
    font-size: 12px;
  }
  .tittle h1 {
    font-size: 20px;
  }
  .nav-img {
    width: 100%;
    margin-top: 80px;
    display: none;
  }
  img {
    width: 100%;
  }
  .data-mani {
    width: 90%;
    padding: 10px 20px;
    margin-left: 20px;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    color: purple;
    z-index: -2;
  }
  .payment-data {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
  }
  .payment {
    width: 100%;
    height: 190px;
    transition: all 0.5s;
    background-color: purple;
    margin-top: 20px;
    color: white;
    padding: 10px 30px;
    margin-bottom: 20px;
  }
  .payment p {
    font-size: 18px;
    position: relative;
    top: 10%;
  }
  .payment h6 {
    font-size: 22px;
    position: relative;
    top: 28%;
    font-weight: 100;
    color: white;
  }
  .payment h3 {
    font-size: 22px;
    position: relative;
    top: 10%;
    font-weight: 100;
    color: black;
  }
  .ri-money-dollar-circle-fill {
    font-size: 52px;
    position: relative;
    top: -40%;
    left: 80%;
  }
  .table
    {
        width: 90%;
        padding: 10px 20px;
         margin: 30px auto;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 20px;
        
        
    }
    .wrapper {
        margin: 15px auto;
        max-width: 1100px;
        
      }
      .outer-wrapper {
        margin: 10px;
        margin-left: 0px;
        margin-right: 20px;
        border: 1px solid black;
        border-radius: 4px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.9);
        width: 99%;
      }

.chart
{
    width:90%;
    padding: 20px 30px;
    margin-left:22px;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    margin-bottom: 30px;
   
   
}
.main-chart
{
  
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}

.container-calendar {
    background: #ffffff;
    padding: 15px;
    width: 100%;
    margin: 0 auto;

    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    margin-top: 10px;
  }
}