* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-decoration:none; 
}
.main {
  display: flex;
  width: 100%;
}
.nav {
  width: 15%;
  height: 100%;
  position: fixed;
  background-color: purple;
}

.nav ul li {
  padding: 10px 20px;
  margin-top: 30px;
  color: white;
  border-radius: 20px;
  transition: all 0.5s;
}
.nav ul li i {
  font-size: 20px;
}
.nav ul li:hover {
  background-color : rgb(244, 75, 244);
  color: white;

}
.nav ul li a {
  color: white;
}
.nav-img {
  width: 80%;
  margin-top: 80px;
}
.header {
  width: 75%;
  padding: 10px 20px;
  margin-left: 340px;
  margin-top: 30px;
  color: purple;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ri-arrow-left-double-line {
  display: none;
}
.profile {
  width: 3%;
}
img {
  width: 100%;
}
.serch {
  position: relative;
  top: 0%;
  left: 0%;
}
.serch input {
  width: 300px;
  height: 40px;
  padding: 10px 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  color: purple;
  font-size: 18px;
}
.serch input::placeholder {
  color: purple;
  font-size: 16px;
}
.ri-search-2-line {
  position: absolute;
  left: 3%;
  top: 25%;
  font-weight: 900;
  color: purple;
}
.data-mani {
  width: 75%;
  padding: 10px 20px;
  margin-left: 340px;
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  color: purple;
}
.payment-data {
  display: flex;
  justify-content: space-between;
 
}
.data-mani h4 {
  font-size: 22px;
  padding-top: 20px;
}
.payment {
  width: 32%;
  height: 190px;
  transition: all 0.5s;
  background-color: purple;
  margin-top: 20px;
  color: white;
  padding: 10px 30px;
  margin-bottom: 20px; 
  border-radius: 10px;

}
.payment p {
  font-size: 22px;
  position: relative;
  top: 15%;
}
.ri-money-dollar-circle-fill {
  font-size: 52px;
  position: relative;
  top: -35%;
  left: 80%;
}
.payment h6 {
  font-size: 22px;
  position: relative;
  top: 45%;
  font-weight: 100;
  color: white;
}
.payment h3 {
  font-size: 22px;
  position: relative;
  top: 20%;
  font-weight: 100;
  color: black;
}
.payment:hover {
  border-radius: 25px;
  background-color:purple;
  cursor: pointer;
  box-shadow: rgb(204, 100, 199) 5px 5px, rgb(204, 100, 197) 10px 10px,
    rgb(204, 100, 187) 15px 15px;
    transform: translatey(-10%);
}
.main-chart {
  display: flex;
  justify-content: space-between;
}
.table {
  width: 75%;
  padding: 10px 20px;
  margin-left: 340px;
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
}
.table h4 {
  font-size: 22px;
  padding-top: 20px;
  color: purple;
}
table {
  min-width: max-content;
  border-collapse: separate;
  border-spacing: 0px;
}
table th {
  position: sticky;
  top: 0px;
  background-color: purple;
  color: white;
  text-align: center;
  font-weight: normal;
  font-size: 18px;
}
table th,
table td {
  padding: 10px 70px;
  padding-top: 10px;
  padding-bottom: 10px;
}

table td {
  text-align: left;
  font-size: 15px;
  border: 1px solid rgb(177, 177, 177);
  padding: 10px 70px;
}

.outer-wrapper {
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.9);
  width: 97%;
}
.table-wrapper {
  overflow: auto;
  height: 400px;
  max-height: 66.4vh;
  margin-top: 22px;
  margin: 15px;
  padding-bottom: 20px;
}

.chart {
  width: 30%;
  padding: 20px 30px;
  margin-left: 340px;
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.wrapper {
  margin: 15px auto;
  max-width: 1100px;
}

.container-calendar {
  background: #ffffff;
  padding: 15px;
  width: 600px;
  margin: 0 auto;
  overflow: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  margin-top: 10px;
}

.button-container-calendar button {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: purple;
  color: #fff;
  border: 1px solid #0aa2b5;
  border-radius: 4px;
  padding: 5px 10px;
}

.table-calendar {
  border-collapse: collapse;
  width: 100%;
}

.table-calendar td,
.table-calendar th {
  padding: 5px;
  border: 1px solid #e2e2e2;
  text-align: center;
  vertical-align: top;
}

.date-picker.selected {
  font-weight: bold;
  outline: 1px dashed #00bcd4;
}

.date-picker.selected span {
  border-bottom: 2px solid currentColor;
}

/* sunday */
.date-picker:nth-child(1) {
  color: red;
}

/* friday */
.date-picker:nth-child(6) {
  color: green;
}

#monthAndYear {
  text-align: center;
  margin-top: 0;
}

.button-container-calendar {
  position: relative;
  margin-bottom: 1em;
  overflow: hidden;
  clear: both;
}

#previous {
  float: left;
}

#next {
  float: right;
}

.footer-container-calendar {
  margin-top: 1em;
  border-top: 1px solid #dadada;
  padding: 10px 0;
}

.footer-container-calendar select {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #ffffff;
  color: #585858;
  border: 1px solid #bfc5c5;
  border-radius: 3px;
  padding: 5px 1em;
}
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.btn {
  position: absolute;
  top: 15px;
  left: 60px;
  height: 45px;
  width: 45px;
  text-align: center;
  background: #1b1b1b;
  border-radius: 3px;
  cursor: pointer;
  transition: left 0.4s ease;
  display: none;
}
.btn.click {
  left: 280px;
  display: none;
}
.btn span {
  color: white;
  font-size: 28px;
  line-height: 45px;
  display: none;
}
.btn.click span:before {
  content: "";
}
.ri-arrow-left-double-line {
  display: none;
}
.sidebar {
  position: fixed;
  width: 250px;
  height: 100%;
  left: -250px;
  transition: left 0.4s ease;
}
.sidebar.show {
  left: 0px;
}
.sidebar .text {
  color: white;
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
}

.sidebar ul li i {
  font-size: 22px;
}

.sidebar {
  width: 13%;
  height: 100%;
  position: fixed;
  background-color: purple;
}
.sidebar ul li {
  padding: 10px 20px;
  margin-top: 30px;
  color: white;
  border-radius: 20px;
  transition: all 0.5s;
}
.sidebar ul li i {
  font-size: 20px;
}
.sidebar ul li:hover {
  background-color: rgb(194, 4, 194);
}
.sidebar ul li a {
  color: white;
}
.nav-img {
  width: 80%;
  margin-top: 80px;
}